
.body {
  font-family: "San Serif";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 :root {
  --white :color:var(--white) ;
  --Orange :color:var(--Orange) ;
}

. {
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
    background-image: url(new\ image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}


